* {
    box-sizing: border-box;
}
body{
	font-family: Roboto;
	margin:0;
    background: #E0BFE2;
    color: #330742;
}
.menu{
    width: 100%;
    height: 10%;
    font-size: 150%;
    background-color: #C389D7;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    z-index: 2;
}
.menu_block{
    padding: 1.35% 9% 1.35% 9%;
    margin: 0;
}
.menu_block1{
    margin-right: 15%;
}
.menu_block2{
    padding-left: 9%;
}
.lang{
    border-radius: 100%;
    margin: 0.5%;
    margin-right: 1.5%;
}
a{
    color:#330742;
    text-decoration: none;
}
a:hover, a:active{
    text-decoration: underline;
}
.menu_block:hover, .menu_block:active{
    background-color: #D865E2;
}
.profil{
    top: 10%;
    width: 100%;
    height: 35%;
    background-color: #E3A7E4;
    position: absolute;
    font-size: 120%;
    display: flex;
    z-index: 1;
}
.blok{
    flex: 15%;
    padding: 1.5% 3% 0.5% 3%;
    position: relative;
}
.textblock{
    flex: 1 1 auto;
    margin: 1.5% 0 5% 0;
    align-items: center;
    justify-content: flex-start;
}
.billmoney{
    margin: 6% 0 0 2%;
}
.nickname{
    margin-top: 10%;
}
.coi{
    margin-left: 2%;
}
h1{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 45%;
}
.list{
    position: absolute;
    top: 55%;
    display: flex;
    width: 100%;
    flex-flow: row wrap;
}
.visited{
    position: relative;
    width: 33%;
    height: 5%;
    display: flex;
    flex-flow: column row;
    margin: 1% 3%;
    padding: 1% 5%;
    justify-content: space-between;
    background-color: #DD99DF;
    border-radius: 2.5%;
    border: solid 5px #DC81CE;
}
.listshop{
    position: absolute;
    top: 15%;
    display: flex;
    width: 100%;
    flex-flow: row wrap;
}
.visited1{
    position: relative;
    width: 24%;
    height: 25%;
    display: flex;
    flex-flow: column wrap;
    margin: 1% 2%;
    padding: 2% 2% 0 2%;
    justify-content: space-between;
    background-color: #DD99DF;
    border-radius: 2.5%;
    border: solid 5px #DC81CE;
    text-align: center;
}
.visited1 h3, .visited1 h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.visited1 h3 img, .visited1 h2 img {
    margin: 6px;
}
.shopphoto{
    border-radius: 3%;
}
.floating-button {
    text-decoration: none;
    display: inline-block;
    width: 50%;
    height: 10%;
    line-height: 45px;
    border-radius: 45px;
    margin: 5% 25%;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
  }
  
  .floating-button:not(.disactive):hover {
      text-decoration: none;
    background: #E841E8;
    box-shadow: 0 15px 20px #C135C1;
    color: white;
    transform: translateY(-7px);
  }
  .floating-button.disactive:hover {
    text-decoration: none;
  }
.disactive {
      cursor: not-allowed;
      opacity: 0.4
  }
.list1{
    position: absolute;
    top: 15%;
    display: flex;
    width: 100%;
    flex-flow: row wrap;
}
.testgo{
    position: relative;
    width: 90%;
    height: 10%;
    display: flex;
    flex-flow: column wrap;
    margin: 1% 5%;
    padding: 1% 5%;
    justify-content: space-between;
    background-color: #DD99DF;
    border-radius: 2.5%;
    border: solid 5px #DC81CE;
}
.pressed-button {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 1.5%/*12px 40px*/;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #F2B7F2 0%, #C450C4 50%, #A922A9 100%);
    background-position: 100% 0;
    background-size: 200% 200%;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #330742;
    box-shadow: 0 16px 24px 0 #7B0C7B;
    transition: .5s;
  }
  .pressed-button:hover {
    text-decoration: none;
    box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
    background-position: 0 0;
  }

.test h1{
    margin-top: -15%;
    position: absolute;
}
.correct {
    background: #92DC94;
}
.wrong {
    background: #8B0623;
}
h2{
    text-align: center;
}
#test1{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top:20%;
}
#test1 div button {
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
    border: 2px solid #5C0944;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    color: #330742;
    transition: .2s ease-in-out;
  }
  #test1 div button:before {
    content: "";
    background: linear-gradient(90deg, rgba(229, 160, 220, .1), rgba(218, 166, 231, 0.5));
    height: 75px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
  }
  #test1 div button:hover {
    background: #CA22B4;
    color: #330742;
  }
  #test1 div button:hover:before {
    left: 150px;
    transition: .5s ease-in-out;
  }
  #test1 div div {
    display: flex;
    justify-content: center;
  }
#results{
      position: absolute;
      top: 85%;
      width: 100%;
      text-align: center;
      padding: 0 5%
  }
